/*general and main-body*/
html { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, h7 { margin: 0; padding: 0; }

li, a {
  list-style-type: none;
  text-decoration: none;
  color: #222;
}

a:hover { color: #00C8C7; }
/*end of general and main-body*/

/*header*/
/*banner*/
@media(min-width: 960px) {
  h1 {
    font-size: 300px;
    text-align: center;
    color: #575153;
    z-index: 100;
    position: relative;;
    top: 100px;
    letter-spacing: 100px;
  }

  .banner button {
    z-index: 100;
    position: relative;
    background-color: #F8F8F8;
    color: 7C7C7C;
    border: 2px solid #7C7C7C;
    font-size: 20px;
    top: 100px;
    float: left;
    left: 58%;
    padding: 1%;
    clear: both;
  }

  .banner button:hover {
    text-decoration: underline;
    color: #00C8C7;
    font-size: 25px;
  }

  .banner {
    display: block;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #f8f8f8;
    min-height: 640px;
  }
}
/*end of banner*/

/*navigation-one*/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.first-nav {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
}

.first-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.first-nav li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
}

@media(min-width: 700) {
  .hamburger {
    display: none;
  }

  .first-nav li {
    display: inline-block;
    padding: 2%;
    font-size: 10px;
    text-transform: uppercase;
  }
}

/*end navigation-one*/

/*navigation-two*/
nav ul {
  margin: 0;
  padding: 0;
}

.second-nav li {
  display: inline-flex;
  padding: 2%;
  font-size: 10px;
  text-transform: uppercase;
}
/*end of navigation-two*/

/*end of header*/

/*content and images*/
/*half-width-content*/
.half-width-content {
  display: flex;
  margin: 0 auto;
}

.half-width-content > div {
	width: 48%;
	margin: 2%;
}

.half-width-content > div:first-child {
	margin-right: 2%;
}

.half-width-content img {
  width: 100%;
}
/*end of half-width-content*/

/*full-width-content*/
.full-width-content img{
  max-width: 100%;
}
/*end of full-width-content*/

.main-container p {
  position: absolute;
  z-index: 100;
  margin: 3%;
  color: #bbb;
  font-size: 12px;
}

.main-container p span {
  text-decoration: line-through;
  margin-right: 5%;
}

@media (min-width: 700px) {
  .first-item-list, .second-item-list {
    display: flex;
    width: 80%;
    margin: auto;
  }

  .half-width-content img{
    width: 100%;
  }

  .full-width-content img{
    width: 90%;
    margin-left: 4%;
    height: inherit;
  }

  .second-item-list:first-child {
    margin-top: -15%;
  }

  footer {
    margin-top: 4%;
  }
}

@media (min-width:1024px) and (max-width: 2000px) {
  .first-item-list, .second-item-list {
    display: flex;
    width: 74%;
    margin: auto;
  }
}

/*end of content and images*/

/*footer*/
footer {
  background-color: #f8f8f8;
}

/*start of 4-column-footer*/
.footer-four-column {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
}

.col-1 {
  width: 21%;
  margin: 2%;
}

ul.item {
  padding: 0;
  margin: 0;
}

ul.item li {
  font-size: 10px;
  padding: 3% 0;
}
/*end of 4-column-footer*/

/*start of sm*/
h7 {
  font-size: 18px;
  color: #fff;
}

.media { display: flex; }

.awards {
  background-color: #333;
  min-width: 50%;
  margin: 1%;
}

.sm {
  background-color: #00C8C7;
  min-width: 50%;
  margin: 1%;
}

.sm li {
  display: flex;
}

.sm img {
  max-width: 10%;
}
/*end of sm*/

/*start of copyright*/
h8 {
  color: #dedede;
  font-size: 10px;
  text-align: center;
}
.copyright { background-color: #333;}
/*end of copyright*/

@media (min-width: 960px) {
  .footer-container {
    width: 960px;
    margin: 0 auto;
  }

  h6 { font-size: 18px; }

  ul.item li { padding: 8% 0; }

  h8 {
    font-size: 20px;
  }

}

/*end of footer*/

.group:before,
.group:after {
  visibility: hidden;
  content: "";
  display: table;
  clear: both;
  height: 0;
}
.group:after {
  clear: both;
}
